<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824068816018-pm3s6d166rt0buf5qvo1jr68tq7spver.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824068816018-pm3s6d166rt0buf5qvo1jr68tq7spver</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2ssJ43As2dsBsnjd8rUkZEa2_T7KqYI</string>
	<key>GCM_SENDER_ID</key>
	<string>824068816018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcity.Fit-City</string>
	<key>PROJECT_ID</key>
	<string>fit-city-ae9f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-city-ae9f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824068816018:ios:eec19381bb66dd9f80fa4b</string>
	<key>DATABASE_URL</key>
	<string>https://fit-city-ae9f2.firebaseio.com</string>
</dict>
</plist>